/* MARK: General Style
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p {
	font-size: 11px;
	margin: 12px 0;
}
a {
	color: #555;
}
a:hover {
	color:#900;
}
.preamble p, .explanation p, .participation p, .benefits p, .requirements p {
    line-height: 16px;
}
.page-wrapper {
	position: relative;
}

/* MARK: Header
*/
#css-zen-garden {
	background: url(https://csszengarden.com/136/r3_zen666_bg.jpg) no-repeat;
	background-color: #000;
	color: #555;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 770px;
}
header {
	background: url(https://csszengarden.com/136/r3_zen666_banner_bg.jpg) no-repeat;
	height: 215px;
}
header h1 {
	background: url(https://csszengarden.com/136/r3_zen666_logo.jpg) no-repeat;
	height: 215px;
	margin: 0 0 0 291px;
	text-indent: -2000px;
}
header h2 {
	display: none;
}

/* MARK: Summary
*/
.summary, .preamble, .main {
	width: 493px;
	padding: 0 35px;
}
.summary {
	background-image: url(https://csszengarden.com/136/r3_zen666_qs_bg.jpg);
	padding: 28px 35px 57px;
}
.summary p:last-of-type {
	margin-bottom: 0;
}

/* MARK: Preamble
*/
.preamble h3 {
	background: url(https://csszengarden.com/136/r3_zen666_road_bg.jpg) no-repeat;
	text-indent: -2000px;
	height: 37px;
	margin: 0 0 5px -35px;
}

/* MARK: Main
*/
.main .explanation h3 {
	background: url(https://csszengarden.com/136/r3_zen666_about_bg.jpg) no-repeat;
	text-indent: -2000px;
	height: 37px;
	margin: 32px 0 5px -35px;
}
.main .participation h3 {
	background: url(https://csszengarden.com/136/r3_zen666_part_bg.jpg) no-repeat;
	text-indent: -2000px;
	height: 37px;
	margin: 20px 0 5px -35px;
}
.main .benefits h3 {
	background: url(https://csszengarden.com/136/r3_zen666_ben_bg.jpg) no-repeat;
	text-indent: -2000px;
	height: 37px;
	margin: 20px 0 5px -35px;
}
.main .requirements h3 {
	background: url(https://csszengarden.com/136/r3_zen666_req_bg.jpg) no-repeat;
	text-indent: -2000px;
	height: 37px;
	margin: 20px 0 5px -35px;
}

/* MARK: Footer
*/
.main footer {
	background: url(https://csszengarden.com/136/r3_zen666_footer_bg.jpg) no-repeat top left;
    height: 300px;
    margin: 0 -35px 0 -35px;
    padding: 240px 0 0 0;
    text-align: center;
}
.main footer a {
	margin: 0 10px;
    color: #900;
	font-size: .9rem;
}
.main footer a:hover {
    color: #555;
}

/* MARK: Aside
*/
aside {
	background: url(https://csszengarden.com/136/r3_zen666_lickList_bg.jpg) no-repeat top left;
	position: absolute;
	top: 215px;
	padding: 0 7px;
    font-size: 10px;
    color: #444;
	margin: 0 0 0 493px;
	width: 292px;
}
ul {
	list-style: none;
	width: 131px;
	margin: 0 0 10px 0;
}
aside ul li {
	padding: 5px 8px;
	border-bottom: 1px dashed #333;
}
aside ul li a {
	color: #444;
}

aside .design-selection h3 {
	background: url(https://csszengarden.com/136/r3_zen666_lselect_bg.jpg) no-repeat;
	text-indent: -2000px;
	height: 35px;
	margin: 1px 0 0 0;
}
aside .design-archives h3 {
	background: url(https://csszengarden.com/136/r3_zen666_larchive_bg.jpg) no-repeat;
	text-indent: -2000px;
	height: 35px;
}
aside .zen-resources h3 {
	background: url(https://csszengarden.com/136/r3_zen666_lres_bg.jpg) no-repeat;
	text-indent: -2000px;
	height: 35px;
}

/* MARK: Extra
*/
.extra1 {
	background: url(https://csszengarden.com/136/r3_zen666_tombstone.png) no-repeat bottom;
	height: 300px;
	width: 230px;
	position: fixed;
	bottom: 0;
	left: 538px;
}

/* MARK: Media Queries
*/
@media screen and (max-width: 510px) {
	#css-zen-garden {
		width: 100vw;
	}
	header h1 {
		display: none;
	}
	.preamble, .main {
		width: 100%;
		background-repeat: no-repeat;
	}
	.summary {
		width: 60%;
		height: 600px;
		background-repeat: no-repeat;
		padding: 10px 40px 0 35px;
	}
	aside {
		width: 40%;
		margin: 0;
		top: 230px;
		right: 35px;
		background-image: none;
		background-color: transparent;
	}
	.main footer {
		padding-top: 200px;
	}
	.extra1 {
		display: none;
	}
	
}
